<div class="navbar">

    <div class="site-name">
      <h2><%= link_to "Landing Page", root_path, :class => "site_name_link" %></h2>
    </div>

    <div class="navbar-buttons">
        <%= button_to "HTML Code", "https://github.com/EliSparow/", :method => :get, form: {target: '_blank'}, :class => "myButton" %>
        <%= button_to "CSS Code", "https://github.com/EliSparow/", :method => :get, form: {target: '_blank'}, :class => "myButton" %>
        <%= button_to "Images", "https://github.com/EliSparow/", :method => :get, form: {target: '_blank'}, :class => "myButton" %>
    </div>

    <div class="avatar">
      <%= link_to "Max", "https://github.com/TheFSilver", :class => "myname", target: :_blank %>
      <%= link_to image_tag('avatar.jpg', :class => "avatar_img", :alt => "Github EliSparow", :title => "GitHub Profile"), "https://github.com/EliSparow", target: :_blank %>
    </div>

</div>